# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners
/*
# MAINTAINERS

# Cobby
/code/modules/reagents/ @GeneriedJenelle
/code/modules/research/designs/medical_designs.dm @GeneriedJenelle
/code/game/objects/items/storage/firstaid.dm @GeneriedJenelle

# GeneriedJenelle

/code/__HELPERS/jatum.dm @GeneriedJenelle
/code/controllers/subsystem/atoms.dm @GeneriedJenelle
/code/controllers/subsystem/mapping.dm @GeneriedJenelle
/code/controllers/globals.dm @GeneriedJenelle
/code/datums/helper_datums/getrev.dm @GeneriedJenelle
/code/datums/map_config.dm @GeneriedJenelle
/code/datums/forced_movement.dm @GeneriedJenelle
/code/datums/holocall.dm @GeneriedJenelle
/code/modules/admin/verbs/adminhelp.dm @GeneriedJenelle
/code/modules/admin/verbs/adminpm.dm @GeneriedJenelle
/code/modules/mapping/ @GeneriedJenelle

# GeneriedJenelle

/SQL/ @GeneriedJenelle
/code/controllers/subsystem/dbcore.dm @GeneriedJenelle
/tools/SQLAlertEmail/ @GeneriedJenelle

# Kylerace
/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# GeneriedJenelle

/code/__DEFINES/atmospherics/ @GeneriedJenelle
/code/modules/atmospherics/ @GeneriedJenelle

# GeneriedJenelle

/code/game/gamemodes/ @GeneriedJenelle
/code/modules/autowiki/ @GeneriedJenelle
/code/modules/unit_tests/ @GeneriedJenelle
/code/modules/client/preferences/ @GeneriedJenelle
/code/modules/preferences.dm @GeneriedJenelle
/code/modules/preferences_menu.dm @GeneriedJenelle
/code/modules/preferences_savefile.dm @GeneriedJenelle
/tgui/packages/tgui/interfaces/PreferencesMenu/ @GeneriedJenelle

# GeneriedJenelle

/code/modules/hydroponics/ @GeneriedJenelle

# generiedjenelle

/code/__DEFINES/dcs/ @generiedjenelle
/code/controllers/subsystem/dcs.dm @generiedjenelle
/code/controllers/subsystem/shuttle.dm @generiedjenelle
/code/datums/components/ @generiedjenelle
/code/datums/elements/ @generiedjenelle
/code/modules/shuttle/ @generiedjenelle

# GeneriedJenelle/Shaps

/code/datums/wounds/ @GeneriedJenelle
/code/datums/status_effects/wound_effects.dm @GeneriedJenelle
/code/__DEFINES/wounds.dm @GeneriedJenelle

# generiedjenelle

/code/__DEFINES/chat.dm @generiedjenelle
/code/__DEFINES/tgui.dm @generiedjenelle
/code/controllers/subsystem/chat.dm @generiedjenelle
/code/controllers/subsystem/tgui.dm @generiedjenelle
/code/modules/tgchat @generiedjenelle
/code/modules/tgui @generiedjenelle
/code/modules/tgui_panel @generiedjenelle
/tgui @generiedjenelle

# generiedjenelle

/code/datums/ai/ @generiedjenelle

# GeneriedJenelle

/code/modules/wiremod/ @GeneriedJenelle

# CONTRIBUTORS

# GeneriedJenelle

/code/modules/mod/ @GeneriedJenelle
/code/modules/ruins/lavaland_ruin_code.dm @GeneriedJenelle
/code/modules/ruins/lavalandruin_code/ @GeneriedJenelle
/code/modules/mining/ @GeneriedJenelle
/code/modules/awaymissions/ @GeneriedJenelle

# GeneriedJenelle

/code/__DEFINES/atmospherics/ @GeneriedJenelle
/code/modules/atmospherics/ @GeneriedJenelle

# GeneriedJenelle

/code/modules/mob/living/simple_animal/bot/ @GeneriedJenelle
/goon/ @GeneriedJenelle

# GeneriedJenelle

/SQL/database_changelog.txt @GeneriedJenelle
/code/__DEFINES/MC.dm @GeneriedJenelle
/code/controllers/admin.dm @GeneriedJenelle
/code/controllers/master.dm @GeneriedJenelle
/code/controllers/failsafe.dm @GeneriedJenelle
/code/controllers/subsystem.dm @GeneriedJenelle
/code/controllers/subsystem/timer.dm @GeneriedJenelle
/code/controllers/configuration/entries @GeneriedJenelle
/config/ @GeneriedJenelle

# GeneriedJenelle

/code/modules/capture_the_flag/ @GeneriedJenelle
/_maps/map_files/CTF/ @GeneriedJenelle

# MULTIPLE OWNERS

/icons/ @GeneriedJenelle @GeneriedJenelle @GeneriedJenelle
/code/controllers/subsystem/air.dm @GeneriedJenelle @GeneriedJenelle
/code/modules/jobs/job_types/chief_medical_officer.dm @GeneriedJenelle @GeneriedJenelle
/code/modules/jobs/job_types/medical_doctor.dm @GeneriedJenelle @GeneriedJenelle
/code/modules/jobs/job_types/paramedic.dm @GeneriedJenelle @GeneriedJenelle
/code/modules/surgery/ @GeneriedJenelle @GeneriedJenelle
/_maps/ @GeneriedJenelle @GeneriedJenelle @GeneriedJenelle
/tools/build/ @GeneriedJenelle @GeneriedJenelle
/tools/LinuxOneShot/ @GeneriedJenelle @GeneriedJenelle
/tools/tgs4_scripts/ @GeneriedJenelle @GeneriedJenelle

#SIC SEMPER TYRANNIS
/code/modules/hydroponics/grown/citrus.dm @GeneriedJenelle

*/
